tensorflow_probability==0.15.0
chex
flax
jaxlib==0.4.3
tensorflow==2.8.0
optax
rlax
tensorflow_datasets==4.6.0
jax==0.4.3
dm-reverb==0.7.2
bsuite
typing-extensions
dm-haiku
gym[atari]
dm-launchpad==0.5.2
dm-tree
trfl
atari-py
pillow
dm-sonnet
gym==0.25.0
rlds
pygame==2.1.0
numpy
dm-control
dm-env
absl-py
