bsuite
absl-py
tensorflow_datasets==4.6.0
typing-extensions
trfl
dm-tree
jax==0.4.3
atari-py
dm-control
gym==0.25.0
dm-launchpad==0.5.2
flax
dm-reverb==0.7.2
optax
tensorflow==2.8.0
chex
pillow
jaxlib==0.4.3
numpy
tensorflow_probability==0.15.0
gym[atari]
pygame==2.1.0
rlds
dm-env
rlax
dm-haiku
dm-sonnet
